.THIS {
    position: relative;
    overflow: hidden;
}
.THIS .redText{
    color: red;
    display: inline-block;
}
.THIS .greenText{
    color: green;
    display: inline-block;
}
.THIS.mainContainer{
	background-color: white;
}
.THIS .indiceName {
	font-weight: bold;
}
.THIS .itemTitle{
	border-bottom: 1px solid #E6EAF0;
}
.THIS h2{
	font-weight: inherit;
}